@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;400;600&display=swap');
/* https://github.com/cnnmon/cnnmon.github.io/blob/master/src/App.scss */
$black: rgba(64, 63, 67, 1);
$gray: rgba(64, 63, 67, 0.5);
$white: rgba(248, 237, 235, 1);
$red: rgba(250, 135, 27, 1);
$orange: rgba(248, 187, 52, 1);
$yellow: rgba(242, 213, 142, 1);
$darkyellow: rgba(241, 187, 37, 1);
$lightgreen: rgba(163, 201, 141, 1);
$green: rgba(137, 177, 154, 1);

@font-face {
  font-family: Takeover;
  src: url(assets/Takeover.ttf);
}

.red { color: $red;}
.white {color: $white;}

/* general styling */
body {
  background-color: $lightgreen;
  color: $black;
  font-family: monospace;

  h1 {
    font-family: 'Takeover';
    font-weight: 400;
    font-size: calc(min(max(10vw, 42px), 80px));
    margin: 0;
  }

  h2 {
    font-family: 'Takeover';
    font-weight: 400;
    font-size: calc(min(max(7vw, 40px), 40px));
    margin: 0;
  }

  p, ul {
    font-size: calc(min(max(2vw, 15px), 16px));
    margin: 0;
    line-height: 15px;
  }

  a {
    color: $black;
    &:hover {
      opacity: 75%;
    }
  }

  button {

  }

  .active {
    
  }

  .container {

  }

  .icon {

  }
}

/* responsiveness - mobile */
@media (max-width: 600px) {
  .App {
    padding: 40px 30px;
  }

  .navigation {
    display: inline-flex;
  }

  .projects {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .card .description {
    margin-top: 10px;
  }
}

/* responsiveness - mobile */
@media (min-width: 601px) {
  .App {
    padding: 40px 110px;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
}

/* responsiveness - desktop */
@media (min-width: 901px) {
  .App {
    padding: 40px 110px;
  }

  .projects {
    
  }

  .home .card {
    display: flex;

    .description {
      margin-left: 20px;
    }
  }
}

/* nav bar */
.navigation {

  .navLink {
    font-size: 18px;
    text-decoration: none;
    border: none;
  }

  .right {
    float: right;
    a { margin-left: 50px; }
  }

  .activeNavLink {
    color: $white;
    text-decoration: overline;
    pointer-events: none;
  }
}

/* home */
.home, .projects {
  .title {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    flex-flow: column;
    animation: none;
  }
}